<!-- Incomplete front-end -->
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <p>
        This is the home page. If I had gotten login/account creation to work,
        this is where the appropriate button would be. For this app, you will
        need to use the secondary Postman collection and environment files
        to obtain the JWT tokens for the two pre-created users.
    </p>
</body>
</html>